/* Progress bars */

@use "variables";

.skill {
  margin-bottom: 1rem;
}

.skill p {
  margin-block-end: 0.4em;
}

.progress {
  height: 0.7rem;
  background-color: variables.$white;

  .bg-blue {
    background-color: variables.$torquoise;
    height: 0.7rem;
  }
}

@each $i in 50, 55, 60, 65, 70, 75, 80, 85, 90, 95 {
  .pc-#{$i} {
    width: 0% + $i;
  }
}
