/* Sections */

@use "variables";

section,
nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark-grey {
    background: variables.$dark-grey;
    color: variables.$white;
}

.light-dark-grey {
    background: variables.$torquoise;
    color: variables.$white;
}

.white {
    background: variables.$white;
    color: variables.$dark-grey;
}

.off-white {
    background: variables.$off-white;
    color: variables.$dark-grey;
}

.light-grey {
    background: variables.$grey;
    color: variables.$white;
}

@media only screen and (min-width: 1094px) {

    section,
    nav {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    section.narrow {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
