/* Typography */

@use "variables";

* {
    font-weight: 400;
}

h1 {
    font-size: variables.$xlarge;
    line-height: variables.$xlarge-spacing;
}

h2 {
    font-size: variables.$large;
    line-height: variables.$large-spacing;
}

p,
li {
    font-size: variables.$large;
    line-height: variables.$large-spacing;

    &.xlarge {
        font-size: variables.$xlarge;
        line-height: variables.$xlarge-spacing;
    }

    &.large {
        font-size: variables.$large;
        line-height: variables.$large-spacing;
    }

    &.normal {
        font-size: variables.$normal;
        line-height: variables.$normal-spacing;
    }

    &.small {
        font-size: variables.$small;
        line-height: variables.$small-spacing;
    }

    &.label {
        font-size: variables.$normal;
        line-height: variables.$normal-spacing;
    }
}

ul.nav>li,
ul.brand>li {
    font-size: variables.$normal;
    line-height: variables.$normal-spacing;
}

ul.normal>li {
    font-size: variables.$normal;
    line-height: variables.$normal-spacing;
    padding-bottom: 0.7rem;
}

ul.contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.contact>li {
    padding-bottom: 1rem;
}

.label {
    font-size: variables.$normal;
    line-height: variables.$normal-spacing;
}

a {
    text-decoration: none;

    &:hover {
        color: variables.$light-torquoise;
        transition: all 0.5s ease;
    }
}

.heavy {
    font-weight: 800;
}

.organisation,
.author,
.location,
.contact {
    color: #a4a1a1;
}

.type-white {
    color: variables.$white;
}

.type-grey {
    color: variables.$dark-grey;
}

@media only screen and (min-width: 720px) {
    h1 {
        font-size: variables.$xlarge * 1.5;
        line-height: variables.$xlarge-spacing;
        margin-top: 44px;
    }

    h2 {
        font-size: variables.$large * 1.3;
        line-height: variables.$large-spacing;
    }

    p,
    li {
        font-size: variables.$large * 1.2;
        line-height: variables.$large-spacing;

        &.xlarge {
            font-size: variables.$xlarge * 1.5;
            line-height: variables.$xlarge-spacing;
        }

        &.large {
            font-size: variables.$large * 1.3;
            line-height: variables.$large-spacing;
        }

        &.normal {
            font-size: variables.$normal * 1.2;
            line-height: variables.$normal-spacing;
        }

        &.small {
            font-size: variables.$small * 1.2;
            line-height: variables.$small-spacing;
        }

        &.label {
            font-size: variables.$normal * 1.2;
            line-height: variables.$normal-spacing;
        }
    }

    ul.nav>li,
    ul.brand>li {
        font-size: variables.$normal * 1.2;
        line-height: variables.$normal-spacing;
    }

    ul.normal>li {
        font-size: variables.$normal * 1.2;
        line-height: variables.$normal-spacing;
        padding-bottom: 0.7rem;
    }

    ul.contact {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.contact>li {
        padding-bottom: 1rem;
    }

    .label {
        font-size: variables.$normal * 1.2;
        line-height: variables.$normal-spacing;
    }
}

@media only screen and (min-width: 1094px) {
    h1 {
        font-size: variables.$xlarge * 2;
        line-height: variables.$xlarge-spacing;
        margin-top: 44px;
    }

    h2 {
        font-size: variables.$large * 1.5;
        line-height: variables.$large-spacing;
    }

    p,
    li {
        font-size: variables.$large * 1.5;
        line-height: variables.$large-spacing * 0.95;

        &.xlarge {
            font-size: variables.$xlarge * 2;
            line-height: variables.$xlarge-spacing * 0.9;
        }

        &.large {
            font-size: variables.$large * 1.5;
            line-height: variables.$large-spacing * 0.95;
        }

        &.normal {
            font-size: variables.$normal * 1.25;
            line-height: variables.$normal-spacing;
        }

        &.small {
            font-size: variables.$small * 1.15;
            line-height: variables.$small-spacing;
        }

        &.label {
            font-size: variables.$normal * 1.25;
            line-height: variables.$normal-spacing;
        }
    }

    ul.nav>li,
    ul.brand>li {
        font-size: variables.$normal * 1.25;
        line-height: variables.$normal-spacing;
    }

    ul.normal>li {
        font-size: variables.$normal * 1.25;
        line-height: variables.$normal-spacing;
        padding-bottom: 0.7rem;
    }

    ul.contact {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.contact>li {
        padding-bottom: 1rem;
    }

    .label {
        font-size: variables.$normal * 1.25;
        line-height: variables.$normal-spacing;
    }
}
